<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/homeadmin">Home</a></li>
                <li><a href="/homeadmin/companies/<%=currentUser.company.id%>">Company</a></li>
                <li>
                    <span class="opener">Departments</span>
                    <ul>
                        <a href="/homeadmin/departments/new">Add New</a>
                        <a href="/homeadmin/departments">View All</a>
                    </ul>
                </li>
                <li><a href="/homeadmin/applications">Applications</a></li>
                <li>
                    <span class="opener">Employees</span>
                    <ul>
                        <li><a href="/homeadmin/employees/new">Add New</a></li>
                        <li><a href="/homeadmin/employees">View All</a></li>
                    </ul>
                </li>
                <li>
                  <a href="/admin/report/">Daily Status Reports</a>
                </li>
                <li>
                    <span class="opener">Projects</span>
                    <ul>
                        <li><a href="/homeadmin/projects/new">Add New</a></li>
                        <li><a href="/homeadmin/projects">View All</a></li>
                        <li><a href="/homeadmin/projects">View Current</a></li>
                        <li><a href="/homeadmin/projects">View Completed</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Payrolls</span>
                    <ul>
                        <li><a href="/homeadmin/payrolls">View All</a></li>
                    </ul>
                </li>
                <li><a href="/blogs">Events</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Latest Events</h2>
            </header>
            <div class="mini-posts">
                <% blogs.slice(-3).forEach(function(blog){ %>
                <% if(blog.ownedBy === currentUser.company_name) { %>
                <article>
                    <a href="/blogs/<%=blog._id%>" class="image"><img src="<%=blog.image%>" alt="" /></a>
                    <p><%=blog.content.substring(0,100)%>...</p>
                </article>
                <% } %>

                <% }) %>
            </div>
            <ul class="actions">
                <li><a href="/blogs" class="button">View All</a></li>
            </ul>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>E.M.S was built to make difficult tasks look easy to handle for everyone. If you need the developer help
                with anything, feel free to contact me</p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">kaymkassai269@gmail.com</a></li>
                <li class="icon solid fa-phone">+86 17126619126</li>
                <li class="icon solid fa-home">Fengxian, Shanghai, China</li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Kaym Kassai. All rights reserved</p>
        </footer>

    </div>
</div>