<!DOCTYPE html>
<html>

<head>
    <title>E.M.S</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
        async></script>
</head>

<body>
    <!-- FLASH MESSAGE -->
    <div class="container">
        <% if(error && error.length > 0) {%>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0) {%>
        <div class="alert alert-success alert-dismissible" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

    <div id="landing-header">
        <h1>Welcome to E.M.S!</h1>
        <a href="/login" class="button primary big">Login</a>
        <a style="display: <%= visibility %>;" href="/register" class="button big">Sign Up</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <%- include("partials/footer") %>